*{
  font-family: 'Rubik', sans-serif;
}

.displayUsers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.singleuser{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 2px 5px 1px rgba(0,0,0.25,0.25); 
  transition: transform 0.2s ease-in-out;
}

.singleuser:hover {
  transform: scale(1.05); 
}

.singleuser-text{
  margin: 10px;
  padding: 10px;
}

.app-input {
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
  width: 19%;
  box-shadow: 0px 0px 5px rgba(107, 94, 94, 0.2);
  transition: border-color 0.3s ease-in-out;
  outline: none;
}

.app-input:focus {
  border-color: #5a6673;
  box-shadow: 0px 0px 8px rgba(93, 98, 104, 0.4); 
}

.app-btn-1 {
  background: #c8cec8 !important;
  margin-bottom: 10px !important;
  color: #000 !important;
  font-weight: bold !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  font-size: 17px;
}

.app-btn-1:hover {
  background: #fff !important;
  border-color: #2596be !important;
  color: #9f390d !important;
}

.app-btn-2 {
  background: #687699 !important;
  margin-bottom: 10px !important;
  color: #fff !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
}

.app-btn-2:hover {
  background: #fff !important;
  border-color: #2596be !important;
  color: #9f390d !important;
}

.input-inner-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.input-btn-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.app-pagination{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}